<form
  class="flex flex-col justify-center items-center h-screen bg-[#FAFFD7]"

  (submit)="submit()"
>
  <div class="max-w-md w-full bg-white rounded p-6 space-y-4">

    <div class="mb-4">
      <p class="text-gray-400">S'inscrire</p>
    </div>
    <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Logo_Lydec_2010.png/420px-Logo_Lydec_2010.png"
    alt="logo"
    style="height: 100px"
    width="100"
    class="mb-3 mx-auto"

  />
    <div class="relative">
      <input
        class="w-full p-1 pl-8 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
        type="text"
        placeholder="name"
      [(ngModel)]="name"
      [ngModelOptions]="{standalone: true}"
      />
      <div class="absolute inset-y-0 left-0 flex items-center px-2">
       
        <i class="fas fa-user-circle  text-gray-600"></i>
      </div>
    </div>

    <div class="relative">
      <input
        class="w-full p-1 pl-8 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
      />
      <div class="absolute inset-y-0 left-0 flex items-center px-2">
       
        <i class="fas fa-user-circle  text-gray-600"></i>
      </div>
    </div>
  
    <div class="relative">
      <input
        class="w-full p-1 pl-8  text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600"
        type="password"
        placeholder="Mot de passe"
        name="password"
        [(ngModel)]="password"
      />
      <div class="absolute inset-y-0 left-0 flex items-center px-2">
        <i class="fas fa-lock  text-gray-600"></i>
      </div>
    </div>

    <div>
      <button
        class="w-full p-2 bg-[#fabb13] rounded text-sm font-bold text-gray-50 transition duration-200"
        type="submit"
      >
        S'inscrire
      </button>
    </div>
    <p class="text-sm text-center text-gray-400 mt-2">
           
      <a routerLink="/login" class="font-semibold text-indigo-500 focus:text-indigo-600 focus:outline-none focus:underline">se connecter</a>.
    </p>
  </div>
</form>
